<div>
  <h1>Registration</h1>
  <form id="registerForm">
    <label>First Name</label>
    <input name="first_name" />
    <label>Last Name</label>
    <input name="last_name" />
    <label>Email</label>
    <input name="email" />
    <label>Age</label>
    <input name="age" />
    <label>Password</label>
    <input type="password" name="password" />
<label>Role</label>
    <input type="submit" />
       <input type="text" name="role" />

  </form>
  <p>Already have an account? <a href="/login">Login here</a></p>
</div>
<script src="../public/js/register.js"></script>